<?xml version="1.0"?>
<opencv_storage>
<Settings>
  <!-- Number of inner corners per a item row and column. (square)  -->
  <BoardSize_Width>11</BoardSize_Width>
  <BoardSize_Height>33</BoardSize_Height>
  
  <!-- The size of a square in some user defined metric system (pixel, millimeter)-->
  <Square_Size>5</Square_Size>
    <!-- Length scale in x-direction (crosswise direction)(mm)-->
  <Lx>50</Lx>
     <!-- Length scale in y-direction (streamwise direction)(mm)-->
  <Ly>160</Ly>

  
  <!-- The threshold parameter for response strength corners-->
  <ResponseThreshold>180</ResponseThreshold>
  <!-- The min distance in pixels between corner points-->
  <MinDistance>15</MinDistance>
    <!-- The readius to calculate corner response: 5 or 10 currently possible -->
  <responseRadius>5</responseRadius>
  
  <!-- Amount of camera's-->
  <CameraAmount>1</CameraAmount>
  <!-- Error metric used-->
  <ErrorMetric>1</ErrorMetric>
  <!-- Amount of parameters used-->
  <SurfaceModel>8</SurfaceModel>
  <!-- Optical flow guess used if not found-->
  <Opticalflowguess>0</Opticalflowguess>
  <!-- Set initial guess for coefficients model-->
  <setInitialGuess>0</setInitialGuess>
  <!-- Set optimization parameters-->
  <setOptim>0</setOptim>
  <!-- Show image with found corners or not-->
  <showCorners>0</showCorners>
  <!-- Save errors in text file-->
  <saveErrors>1</saveErrors>
    <!-- Save camera pose estimation in text file-->
  <saveCameraPose>1</saveCameraPose>

  <!-- Type of reference input: image->true:1, file->false:0-->
  <InputTypeRef>0</InputTypeRef>
  <!-- Type of input: images->true:1, file->false:0-->
  <InputType>1</InputType>
  <!-- Fixed location of points f-->
  <InputInitial>/home/lengelen/Documents/Thesis/cam1/Features</InputInitial>
  
  <!-- The name of the input file of camera 1-->
  <InputFilename1>"/home/lengelen/Desktop/test/coordinates.txt"</InputFilename1>
  <!-- The name of the input file of camera 2-->
  <InputFilename2>"/home/lengelen/Desktop/MS_20160524/m5/86/GRAY"</InputFilename2>
  <!-- The name of the input file of camera 3-->
  <InputFilename3>"/home/lengelen/Desktop/Ms09052016/Processed/C84/M5"</InputFilename3>
  
  <!-- The name of the input directory of camera 1-->
  <InputDirectory1>"/home/lengelen/Documents/Doctoraat/PhDMS1-adapted/M10/Shift15"</InputDirectory1>
  <!-- The name of the input directory of camera 2-->
  <InputDirectory2>"/home/lengelen/Desktop/MS_20160524/m5/86/GRAY"</InputDirectory2>
  <!-- The name of the input directory of camera 3-->
  <InputDirectory3>"/home/lengelen/Desktop/Ms09052016/Processed/C84/M5"</InputDirectory3>
  
  <!-- The name of the reference image/file - camera 1-->
  <InputReference1>"/home/lengelen/Desktop/test/CameraPose1.txt"</InputReference1>
  <!-- The name of the reference image - camera 2-->
  <InputReference2>"/home/lengelen/Documents/Doctoraat/PhDMS1-adapted/Reference/REF15-small.png"</InputReference2>
  <!-- The name of the reference image - camera 3-->
  <InputReference3>"/home/lengelen/Desktop/Ms09052016/Processed/Ref84/Result of Ref84 (green)-10000.png"</InputReference3>
  
  <!-- The name of the calibration file of the camera 1-->
  <CalibrationFile1>"/home/lengelen/Documents/Calib/Calib_C86.yml"</CalibrationFile1>
  <!-- The name of the calibration file of the camera 2-->
  <CalibrationFile2>"/home/lengelen/Documents/Calibration/Calib_C86_20160509-rotation.yml"</CalibrationFile2>
  <!-- The name of the calibration file of the camera 3-->
  <CalibrationFile3>"/home/lengelen/Documents/Calibration/Calib_C84_20160428.yml"</CalibrationFile3>
  
  <!-- The name of ouput file for optimized coefficients according to chosen surface model-->
  <OutputFileName>"/home/lengelen/Desktop/test/coeffsM10.txt"</OutputFileName>
  <!-- The name of ouput file for average error per frame-->
  <OutputFileNameErrors>"/home/lengelen/Desktop/test/coeffsM10_errors.txt"</OutputFileNameErrors>
    <!-- The name of ouput file for saving camera pose estimation camera 1-->
  <OutputCameraPose1>"/home/lengelen/Desktop/test/CameraPose1.txt"</OutputCameraPose1>
   <!-- The name of ouput file for saving camera pose estimation camera 2-->
  <OutputCameraPose2>"/home/lengelen/Desktop/test/CameraPose2.txt"</OutputCameraPose2>
   <!-- The name of ouput file for saving camera pose estimation camera 3-->
  <OutputCameraPose3>"/home/lengelen/Desktop/test/CameraPose3.txt"</OutputCameraPose3>
  
  <!-- Position camera 1-->
  <Position1>1</Position1>
  <!-- Position camera 2-->
  <Position2>4</Position2>
   <!-- Position camera 3-->
  <Position3>4</Position3>
  
</Settings>
</opencv_storage>
